<div class="container" style="margin-top: 10px;">
    <div class="row">
         <p class="text-end">Hola {{usuario}} <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión </a> </p>
    </div>
</div>
